# Игнорировать папку сборки
/build/

# Если вы используете Gradle, игнорируем связанные файлы и папки
.gradle/
build.gradle.kts
gradlew
gradlew.bat
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties

# Игнорируем временные файлы и папки
/tmp/
out/
*.class

# Игнорировать артефакты и дистрибуцию
/build/distributions/
build/libs/
build/reports/
build/generated/

# Игнорировать папку с артефактами для Checkstyle
Checkstyle/

# Ignoring IDE config files
# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Mac OS
.DS_Store

# Личные файлы
*.log
*.tmp